@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

*{
  box-sizing: border-box;
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}

html, body, #root{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  user-select: none;
  overflow: hidden;
}

body{
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.pointer{
  color: rgb(142, 142, 142);
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.7;
}

.texture_selector_container{
  position: absolute;
  bottom: 30px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.texture_selector{
  padding: 10px;
  background-color: rgb(133, 133, 133);
  display: flex;
  gap: 10px;
  border: 1px solid;
}

.img_selector{
  width: 50px;
  image-rendering: pixelated;
  border: 1px solid rgba(0, 0, 0, 0.445);
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.258);
}

.selected {
  border: 2px solid rgb(8, 45, 207);
}

.menu{
    position: absolute;
    background: url("https://i.pinimg.com/564x/a6/f9/93/a6f993903ed579b0e7cc4d49867bfcfe.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0px;
    display: flex;
    gap: 10px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn_menu{
    width: 100px;
    padding: 5px 10px;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    color: white;
    background: #080b1ad3;
    border: none;
    border-radius: 3px;
}

.btn_menu:hover{
    background: #070a18;
    transition: .5s;
}

.ocultarMenu{
  display: none;
}

.info{
  position: absolute;
  bottom: 5px;
  left: 15px;
  background-color: #2727277e;
  color: rgb(141, 141, 141);
  padding: 5px;
}

.info>p{
  padding: 0px;
  margin: 0px;
  font-size: 12px;
}

.contain_controles{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px;
  color: white;
  background: #080b1ad3;
  border-radius: 5px;
}

.subcontain_controles{
  display: flex;
  gap: 20px;
  padding: 0px 15px 10px;
}

.contain_buttons{
  display: flex;
  gap: 10px;
}

h2{
  margin-bottom: 0px;
}